@font-face {
  font-family: "Iwona";
  src: url("./IwonaCond-Regular.ttf");
}

:root {
    --surface-color: #fff;
    --curve: 40;
  }
  
* {
    box-sizing: border-box;
  }
  
body {
    font-family: 'Iwona', sans-serif;
    background-color: #837f7f;
  }
#ent h1{
  font-family: "Iwona";
}
#ent .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
#ent .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
  }
  
#ent .card__image {      
    width: 100%;
    height: 390px;
    object-fit: cover;
  }
  
#ent .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: calc(var(--white) * 1px);    
    background-color: white;      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
#ent .card:hover .card__overlay {
    transform: translateY(0);
  }
#ent .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: white;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
#ent .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
#ent .card__arc path {
    fill: var(--surface-color);
  }       
  
#ent .parallax-container {
    display: flex;
    font-size: xx-large;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
  
#ent .card:hover .card__header {
    transform: translateY(0);
  }
  
#ent .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
#ent .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
  }
  
#ent .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
#ent .card__status {
    font-size: .8em;
    color: #D7BDCA;
  }
  
#ent .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #6d686b;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }    
#ent #menu__toggle {
    display: none;
  }
#ent #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
#ent #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
#ent #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
#ent #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
#ent .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }
#ent .menu__btn > span,
#ent .menu__btn > span::before,
#ent .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
#ent .menu__btn > span::before {
    content: '';
    top: -8px;
  }
#ent .menu__btn > span::after {
    content: '';
    top: 8px;
  }
#ent .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 1;
  }
#ent .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
#ent .menu__item:hover {
    background-color: #CFD8DC;
  }
#ent .app-info{
    width: 247px;
}

:root{
  --theme-col: #353538;
  
}
#ent .space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
#ent footer{
  background-color: #fcfbfb;
  
  
}
#ent .f-item-con{
  padding: 1.5rem 4rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2rem;
  
}
@media (max-width: 760px){
  #ent .f-item-con{
   width: 50%;
   margin-bottom: 30px;
   display: block;
  }
 }
 @media (max-width: 566px){
  #ent .f-item-con{
   display: block;
   }
 }
#ent footer .app-name{
  color: rgb(0, 0, 0);
  border-left: 4px solid var(--theme-col);
  padding-left: 1.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  
}
#ent .app-name .app-initial{
  color: var(--theme-col);
 
  
}
#ent footer .app-info p{
  color: rgb(0, 0, 0);
  padding-left: 1.65rem;
  
}

#ent .footer-title{ 
  text-decoration: none;
  font-size: 2rem;
  line-height: 1.75rem;
  color: rgb(0, 0, 0);
  border-left: 4px solid var(--theme-col);
  padding-left: 1.5rem;
  height: fit-content;
  
}

#ent footer ul{ 
  padding-left: 1.75rem;
  color: rgb(0, 0, 0);
  font-size: 1em;
  line-height: 2rem;
  margin-top: .5rem;
  list-style: none;
  
}
#ent a {
  text-decoration: none ;
  color: #000000;
}
#ent footer ul li{ 
  margin: .25rem 0;
  cursor: pointer;
  color: #000000;
  width: fit-content;
 
}
#ent footer ul li:hover{
  color: rgb(53, 51, 51);
}
#ent footer .help-sec{
  grid-column-start: 2;
}
#ent footer .cr-con{
  background-color: #ffffffa1;
  color: rgb(0, 0, 0);
  padding: 1rem 4rem;
  text-align: center;
}
#ent .g-i-t{
  display: grid;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
#ent .g-i-t form{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
#ent form .g-inp{
  padding: .25rem .5rem;
  font-size: 16px;
}
#ent .g-inp textarea{
  height: 150px;
}
#ent .f-btn{
    padding: .25rem 1rem;
    background-color: var(--theme-col);
    border-radius: .25rem;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

#ent h2 {
    margin: 20px auto 80px;
    font-size: 38px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
  }
  
#ent details {
    width: 75%;
    min-height: 5px;
    max-width: 700px;
    padding: 45px 70px 45px 45px;
    margin: 0 auto;
    position: relative;
    font-size: 22px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    box-sizing: border-box;
    transition: all .3s;
  }
  
#ent details + details {
    margin-top: 20px;
  }
  
#ent details[open] {
    min-height: 50px;
    background-color: #ffffff;
    box-shadow: 2px 2px 20px rgb(255, 255, 255);
  }
  
#ent details p {
    color: #000000;
    font-weight: 300;
  }
  
#ent summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
  }
  
#ent summary:focus {
    outline: none; 
  }
  
#ent summary::-webkit-details-marker {
    display: none
  }
  
#ent .control-icon {
    fill: rgb(0, 0, 0);
    transition: .3s ease;
    pointer-events: none;
  }
  
#ent .control-icon-close {
    display: none;
  }
  
#ent details[open] .control-icon-close {
    display: initial;
    transition: .3s ease;
  }
  
#ent details[open] .control-icon-expand {
    display: none;
  }